/* Prevent menu items from wrapping */
nav a, nav span {
  white-space: nowrap;
}

/* Header spacing */
header .main-menu {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

/* Resize seal logo in header */
header .logo {
  max-height: 2rem !important;
  max-width: 2rem !important;
  width: auto;
}
